#  ##   ##  ######   ##   ##   ####      ####   ##   ##   #####   ######   ####### #
#  ###  ##   ##  ##  ### ###    ##      ##  ##  ###  ##  ##   ##   ##  ##   ##   # #
#  #### ##   ##  ##  #######    ##     ##       #### ##  ##   ##   ##  ##   ## # #
#  ## ####   #####   #######    ##     ##       ## ####  ##   ##   #####    #### #
#  ##  ###   ##      ## # ##    ##     ##  ###  ##  ###  ##   ##   ## ##    ## # #
#  ##   ##   ##      ##   ##    ##      ##  ##  ##   ##  ##   ##   ##  ##   ##   # #
#  ##   ##  ####     ##   ##   ####      #####  ##   ##   #####   #### ##  ####### #
src/
tests/
dist
docs
Thumbds.db
.github
.vscode
.editorconfig
.eslintrc.json
.gitattributes
.gitignore
.npmignore
.npmrc
.prettierignore
.prettier.json
babel.config.js
jest.config.ts
SECURITY.md
tsconfig.json